@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Irish+Grover&display=swap");
@import "tailwindcss";

@theme {
  /* font */
  --font-irish: "Irish Grover", system-ui;
  /* Dark mode */
  /* bg */
  --color-bg-primary: oklch(30.386% 0.03696 252.146);
  --color-bg-secondary: oklch(24.463% 0.02885 255.259);
  --color-bg-tertiary: oklch(43.491% 0.03159 266.259);
  --color-bg-alt: oklch(82.972% 0.0117 269.55);

  /* text */
  --color-primary: oklch(100% 0.00011 271.152);
  --color-secondary: oklch(78.261% 0.00009 271.152);
  --color-muted: oklch(52.78% 0.00006 271.152);
  --color-alt: oklch(32.109% 0.00004 271.152);
  --color-red: oklch(64.28% 0.21734 25.786);

  --color-color: oklch(55.825% 0.18795 263.085);

  --color-hover: oklch(55.825% 0.18795 263.085 / 0.5);
}

/* .dark {
} */

body {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-primary);
  color: var(--color-primary); /* ปรับสี text ให้ตรงข้ามกับพื้นหลัง */
}
